{% extends 'base.admin.html.twig' %}

{% block title %}Commentaires · Blog{% endblock %}

{% block body %}
    <div class="body-content">
        <h1>Liste des commentaires</h1>

        {% for comment in comments %}
            {{ include('comment/_comment.admin.html.twig') }}
        {% else %}
            <p>Il n'y a aucun commentaire.</p>
        {% endfor %}
    </div>
{% endblock %}
