{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire · {{ post.title }} · Blog{% endblock %}

{% block body %}
    <div class="body-content">
        <h1>Nouveau Commentaire</h1>
        <h2 class="text-center mb-2">{{ post.title }}</h2>

        {{ include('comment/_form.html.twig') }}

        <a href="{{ path('post_user_show', {'id': post.id, 'slug': post.slug}) }}">Retour</a>
    </div>
{% endblock %}
