{% extends 'base.html.twig' %}

{% block title %}Modification · {{ category.name }} · Blog{% endblock %}

{% block body %}
    <div class="body-content">
        <h1>Edit Category</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('category_admin_index') }}">back to list</a>

        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
