{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} · Blog{% endblock %}

{% block body %}
    <div class="body-content">
        <h1>Posts - {{ category.name }}</h1>

            <ul class="posts">
                {% for post in posts %}
                    {{ include("_post.html.twig") }}
                {% endfor %}
            </ul>

        <a href="{{ path('post_user_index') }}">Retour</a>
    </div>
{% endblock %}
