body {
    background-color: #eee;
}

body > header > .header {
    display: flex;
    flex-direction: row;
    background-color: red;
}

.header > .header-title {
    display: block;
    flex: 1;
}

.header > .header-links {
    display: block;
    flex: 1;
    text-align: right;
    list-style: none;
}

.header > .header-links > li {
    margin: 0;
    /* display: inline; */
}
