<li class="post">
    <h3 class="post-title">
        {{ post.title }}
    </h3>
    <p class="date">
        Dernière mise à jour : {{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}
    </p>
    <p class="post-description">
        {{ post.description }}
    </p>
    <a href="{{path('post_user_show', {'id': post.id, 'slug': post.slug})}}">Lire le post</a>
</li>
