        <div class="sidebar">
            <h2>Catégories</h2>
            <ul class="sidebar-links">
                {% for category in categories %}
                    {% if category.counter > 0 %}
                        <li>
                            <a href="{{ path('category_user_show', {'id': category.id}) }}">{{ category.name }}</a> 
                            <span>({{category.counter}})</span> 
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>