        <div class="sidebar">
            <h2>Catégories</h2>
            <ul class="sidebar-links">
                <li>
                    <a href="#">Informatique</a> 
                    <span>34</span> 
                </li>
                <li>
                    <a href="#">Jeux vidéos</a> 
                    <span>45</span> 
                </li>
                <li>
                    <a href="#">Musique</a> 
                    <span>5</span> 
                </li>
            </ul>
        </div>