{% extends "base.html.twig" %}

{% block title %}Derniers posts · Blog{% endblock %}

{% block body %}
    <div class="body-content">
        {{ include("_sidebar.html.twig") }}

        <div class="flex-1">
            <h1>Derniers posts</h1>

            <ul class="posts">
                {% for i in 1..5 %}
                    {{ include("_post.html.twig", { post: { title: "Avis à la population", description: "Des-crip-tion" } }) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

