{% extends 'base.html.twig' %}

{% block title %}Nouveau Post · Blog{% endblock %}

{% block body %}
    <div class="body-content column">
        <h1>Create new Post</h1>

        {{ include('post/_form.html.twig') }}

        <a href="{{ path('post_admin_index') }}">back to list</a>
    </div>
{% endblock %}
